<!--################### header ###################-->
<%- include('./partials/header-nav'); %>



    <!--################### hero ###################-->

    <section class="hero">
        <img src="/images/jakob-owens-eD3mggHwM5M-unsplash.jpg" alt="" />

        <div class="inner-div">
            <div class="hero-text-content">
                <h1>FREE MY MIND</h1>
                <p>let blog mind free and peace of discovering...</p>
            </div>
        </div>
    </section>

    <!--###################  end hero ###################-->

    <!--###################  side and post ###################-->

    <section class="section-one">
        <aside>
            <div class="filter">

                <form id="search-form">
                    <input type="search" placeholder="search...">
                </form>




                <div class="filter-1">
                    <h3>FILTER BY TOPIC</h3>

                    <% posts.forEach((post)=> { %> <!-- Loop through all posts -->

                        <!-- Display Author Name -->
                        <span>Author Name: <%= post.user.name %></span>

                        <!-- Display Categories -->
                        <span>
                            Category:
                            <% post.category.forEach((cat)=> { %>
                                <% const categories=cat.split(","); %>
                                    <% categories.forEach((category)=> { %>
                                        <%= category %>
                                            <% }); %>
                                                <% }); %>
                        </span>

                        <!-- Display Title -->
                        <span>Title: <%= post.title %></span>

                        <!-- Display Content (trimmed to avoid large text) -->

                        <hr> <!-- Separate each post's filter section -->

                        <% }); %> <!-- End loop for posts -->
                </div>


                <!-- news letter -->
                <div class="newsletter-container">
                    <h5>Subscribe to our news letter</h5>
                    <form id="news-letter">
                        <input id="newsLetter-email" placeholder="Your email" type="newsLetter-email">
                        <input id="newsLetter-send-btn" type="submit" value="Send">
                        <div class="message">thanks</div>
                    </form>

                </div>
            </div>
        </aside>



        <main class="main-post-container">

            <%if (posts.length < 1){%>
                <h1> No post found yet, please signup to post </h1>

                <% }%>
                    <%posts.forEach((post)=>{%>






                        <div class="main-post-contents">


                            <!-- banner imag name time  -->
                            <div class="main-post-banner">
                                <!-- <i class="fa-solid fa-user"></i> -->

                                <div class="p-holder-for-pic">

                                    <img src=" <%=post.user.userImage%>" alt="" />
                                </div>

                                <div class="main-post-banner-details">
                                    <h4>
                                        <%=post.title%>
                                    </h4>
                                    <div class="main-top-details">
                                        <span>
                                            <%=post.user.name%>
                                        </span>
                                        <span>

                                            <%=post.createdAt.toLocaleTimeString("en-uk", {hour:"numeric",
                                                minute:"numeric", hour12:false})%>
                                        </span>
                                        <span>
                                            <%=post.createdAt.toLocaleDateString("en-uk", {day:"numeric",
                                                month:"short",year:"numeric" })%>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- end banner end imag name time  -->

                            <div class="main-block-image <%= post.postPicture? '' : 'empty-image' %>"">

                                
                                <% if (post.postPicture) { %>
                                    <img src=" <%=post.postPicture %>" alt="Post Image">
                                <% } %>




                            </div>




                            <div class="tag">
                                <%post.category.forEach((cat)=>{%>
                                    <%const categories=cat.split(',')%>
                                        <%categories.map((category)=>{%>

                                            <span>
                                                <%= category%>
                                            </span>

                                            <%})%>

                                                <% })%>



                            </div>
                            <div class="main-post-text">
                                <p>
                                    <%=post.post%>






                                </p>
                            </div>

                            <div class="main-btn-and-icon">
                                <% if (user) { %>
                                    <!-- If the user is logged in -->
                                    <a href="/article/<%= post._id + '/' + post.user._id %>" class="main-read-more-btn">
                                        Read More
                                    </a>
                                    <% } else { %>
                                        <!-- If the user is not logged in -->
                                        <a href="/auth/login?redirect=<%= encodeURIComponent(post._id + '/' + post.user._id) %>"
                                            class="main-read-more-btn">
                                            Login to Read More
                                        </a>


                                        <% } %>

                                            <!-- read me or login  -->
















                                            <div class="main-btn-and-icon">
                                                <!-- <a href="#" class="main-read-more-btn"> Read more </a> -->
                                                <div class="likes-view-comments-number">
                                                    <i class="fa-solid fa-eye"><span class="viewnum">
                                                            <%=post.views.length%>
                                                        </span></i>
                                                    <!-- <span>views: 0</span> -->
                                                    <i class="fa-solid fa-comment"> <span class="commentspan">
                                                            <%=post.comments.length%>
                                                        </span>
                                                    </i>
                                                    <!-- <a href="#" class="comment">comments: 0</a> -->
                                                    <span class="likes"><i class="fa-solid fa-thumbs-up"><span
                                                                class="likespan">
                                                                <%=post.likes.length%>

                                                            </span></i></span>
                                                </div>
                                            </div>
                            </div>
                        </div>

                        <%})%>
        </main>






    </section>
    <script src="/js/search.js"></script>
    <script src="/js/filter.js"></script>
    <%- include('./partials/footer'); %>